{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}Movie Genre Search{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-8 mt-3">
                <form class="form-search">
                    <div class="text-center">
                        <h1 class="h3 mb-3 font-weight-normal">{% trans "Search for movie suggestions based on genre" %}</h1>
                    </div>

                    <div class="form-label-group input-group mb-3">
                        <input type="text" autocomplete="off" id="input-search" class="form-control" placeholder="{% trans "Genre to search, for example: scifi" %}" required autofocus>
                        <div class="input-group-append">
                            <button class="btn btn-md btn-primary btn-block search-button" type="submit">
                                <span class="search-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                <span class="search-btn-text">{% trans "Search" %}</span>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col mt-3">
                <ul class="list-group" id="search-results">

                </ul>
            </div>
        </div>
    </div>
{% endblock %}