{% extends 'bootstrap4/bootstrap4.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block bootstrap4_extra_head %}
    {% block head_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock %}
    {% block head_js %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <script type="text/javascript" src="{% url 'js_reverse' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endblock %}
{% endblock %}

{% block bootstrap4_title %}{% block title %}{% endblock %}{% endblock %}

{% block bootstrap4_content %}
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Movie Genre Search</a>
    </nav>
    {% block content %} OWN CONTENT {% endblock %}
{% endblock %}